<%- include ../partials/mainHead.ejs %>

<h2><%= employees_shops.first_name %> <%= employees_shops.last_name %></h2>
<form class="" method="post" action="/shops/<%= employees_shops.s_id %>/employees/<%= employees_shops.e_id %>?_method=PATCH">
  <div class="row">
    <div class="input-field col s12">
      <input type="text" name="first_name" value="<%= employees_shops.first_name %>">
      <label for="first_name">First Name:</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input type="text" name="last_name" value="<%= employees_shops.last_name %>">
      <label for="last_name">Last Name:</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <select name="favorite_donut">
        <option value="" disabled selected>Choose your option</option>
        <% donuts.forEach(function(donut) { %>
          <option value="<%= donut.id %>" <%if (employees_shops.d_id === donut.id) { %>selected<% } %>><%= donut.name %></option>
          <% }) %>
        </select>
        <label for="favorite_donut">Favorite Donut:</label>
      </div>
  </div>

  <button type="submit" class="waves-effect waves-light btn"><i class="material-icons left">create</i>Save Changes</button>
  <a href="/shops/<%= employees_shops.s_id %>/employees/<%= employees_shops.e_id %>" class="waves-effect waves-light btn"><i class="material-icons left">cancel</i>Cancel</a>
</form>

<%- include ../partials/mainFoot.ejs %>
