<%- include ../partials/mainHead.ejs %>

<h2><%= employees_shops.first_name %> <%= employees_shops.last_name %></h2>
<p>Store: <%= employees_shops.s_name %></p>
<p>Favorite Donuts: <%= employees_shops.d_name %></p>

<a href="/shops/<%= employees_shops.s_id %>/employees" class="waves-effect waves-light btn"><i class="material-icons left">arrow_back</i>Back to All Employees</a>
<a href="<%= employees_shops.e_id %>/edit" class="waves-effect waves-light btn"><i class="material-icons left">edit</i>Edit</a>

<!-- Modal Trigger -->
<a class="waves-effect waves-light btn modal-trigger" href="#modal"><i class="material-icons left">delete</i>Delete</a>

<!-- Modal Structure -->
<div id="modal" class="modal">
  <div class="modal-content">
    <h4>Are you sure you wish to delete this entry?</h4>
    <p>Please choose to confirm or cancel</p>
  </div>
  <!-- <div class="modal-footer"> -->
    <form class="modal-footer" action="/shops/<%= employees_shops.s_id %>/employees/<%= employees_shops.e_id %>?_method=DELETE" method="post">
      <a href="/shops/<%= employees_shops.s_id %>/employees" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
      <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat"><i class="material-icons left">delete</i>Confirm Delete</button>
    </form>
  <!-- </div> -->
</div>
<%- include ../partials/mainFoot.ejs %>
