<%- include ../partials/mainHead.ejs %>

<h2>All Donuts</h2>
<a href="/donuts/new" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Create a New Donut</a>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Topping</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% donuts.forEach(function(donut) { %>
    <tr>
      <td><a class="collection-item" href="/donuts/<%= donut.id %>"><%= donut.name %></a></td>
      <td><%= donut.topping %></td>
      <td>$<%= donut.price %></td>
    </tr>
    <% }) %>
  </tbody>
</table>

<%- include ../partials/mainFoot.ejs %>
