<%- include ../partials/mainHead.ejs %>

<h2><%= shop.name %></h2>
<form class="" action="index.html" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" value="<%= shop.name %>">
  <label for="city">City:</label>
  <input type="text" name="city" value="<%= shop.city %>">
</form>

<%- include ../partials/mainFoot.ejs %>
