<%- include ../partials/mainHead.ejs %>

<h2>All Shops</h2>
<a href="shops/new" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Create a New Shop</a>
<div class="collection">
  <% shops.forEach(function(shop) { %>
    <!-- <li class="collection-item"><%= shop.name %> - <%= shop.city %></li> -->
    <a class="collection-item" href="/shops/<%= shop.id %>"><%= shop.name %> - <%= shop.city %></a>
  <% }) %>
</ul>

<%- include ../partials/mainFoot.ejs %>
