<%- include ../partials/mainHead.ejs %>

<h2><%= shop.name %>, <%= shop.city %></h2>

<table>
  <caption>Menu</caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Topping</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% donuts.forEach(function(donut) { %>
    <tr>
      <td><a class="collection-item" href="/donuts/<%= donut.id %>"><%= donut.name %></a></td>
      <td><%= donut.topping %></td>
      <td>$<%= donut.price %></td>
    </tr>
    <% }) %>
  </tbody>
</table>

<a href="/shops" class="waves-effect waves-light btn"><i class="material-icons left">arrow_back</i>Back to All Shops</a>
<a href="#" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add a New Donut</a>

<a href="<%= shop.id %>/edit" class="waves-effect waves-light btn"><i class="material-icons left">edit</i>Edit</a>
<!-- Modal Trigger -->
<a class="waves-effect waves-light btn modal-trigger" href="#modal"><i class="material-icons left">delete</i>Delete</a>
<a href="/shops/<%= shop.id %>/employees" class="waves-effect waves-light btn"><i class="material-icons left">people</i>View Employees</a>

<!-- Modal Structure -->
<div id="modal" class="modal">
  <div class="modal-content">
    <h4>Are you sure you wish to delete this entry?</h4>
    <p>Please choose to confirm or cancel</p>
  </div>
  <!-- <div class="modal-footer"> -->
    <form class="modal-footer" action="/shops/<%= shop.id %>?_method=DELETE" method="post">
      <a href="/shops" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
      <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat"><i class="material-icons left">delete</i>Confirm Delete</button>
    </form>
  <!-- </div> -->
</div>
<%- include ../partials/mainFoot.ejs %>
