<%- include ../partials/mainHead.ejs %>

<h2><%= shop.name %></h2>
<p>id: <%= shop.id %></p>
<p>city: <%= shop.city %></p>
<a href="/shops" class="waves-effect waves-light btn"><i class="material-icons left">arrow_back</i>Back to All Shops</a>
<a href="<%= shop.id %>/edit" class="waves-effect waves-light btn"><i class="material-icons left">edit</i>Edit</a>

<%- include ../partials/mainFoot.ejs %>
